body {
	background: linear-gradient(to bottom, rgb(204,229,255), rgba(204,229,255, 0.4));
	margin: 1.5%;
}

#band-members {
	width: 40%;
	height: 40%;
	float: right;
	margin: 3% 1.5% 2% 2%;
}

#bio-content {
	font-family: "Lato" sans-serif;
	text-align: justify;
}

h1 {
	color: rgb(186, 133, 180);
    font-weight: 400;
}

h2 {
	color: rgb(219, 168, 50);
}

h3 {
	color: rgb(219, 168, 150);
}

.favourite-song-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

a {
	color: steelblue;
}

a:visited:hover {
	color: red;
}

ul li {
	font-size: 20px ;
	font: bold;
}